<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezervasyon Listesi</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h2>Rezervasyon Listesi</h2>

    <table>
        <% rez.forEach(element => { %>
            <tr>
                <th><%= element.id_res %></th>
                <th><%= element.name %></th>
                <th><%= element.email %></th>
                <th><%= element.phone %></th>
                <th><%= element.date %></th>
                <th><%= element.time %></th>
                <th><%= element.part_size %></th>
                <th><%= element.message %></th>
            </tr>
        <% }) %>
        
    </table>
</body>

</html>
